/* Resert CSS */
*{
    margin: 0;
    padding: 0;
    /* Emmemt */
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* 
1. Từ ngoài vào trong.
2. Từ trên xuống dưới.
3. Tổng quan đến chi tiết
 */

/* Vị trí 
 Kích thước 
  Màu sắc 
 Kiểu dáng (Exp: FOnt-size , Loại chữ). */
body{
    position: relative;
}
/* Cach 2 de fix lỗi sử dụng float: left */
/* Common */
.clear{
    clear: both;
}
.text-white
{
    color: #fff !important;
}
.text-center
{
    text-align :center !important;
}
.mg-8
{
    margin-top: 8px;
}
.mg-16
{
    margin-bottom: 16px;
}
.mt-16
{
    padding-top: 16px ;
    padding-bottom: 16px ;
}
.row
{
    margin-left : -8px;
    margin-right : -8px;
}
.row::after
{
    content: "";
    display: block;
    clear:both;
}
.column-half
{
    width: 50%;
}
.column-third
{
    width: calc(100% /3);
}
.column-full
{
    width: 100%;
}
.column
{
    float : left;
    padding-left: 8px;
    padding-right: 8px;
}
.pull-right
{
    float: right;
}
.btn
{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    outline : none;
    appearance: none;
    -webkit-appearance: none;
}
.btn:hover
{
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}
.padding-t-b
{
    padding : 64px 0 112px !important;
}
/* Common */

/* Main */
#header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#wrapper {
    width: 100%;
}
#navigation
{
    display: inline-block;
}
#navigation > li:hover .subnav
{
    display: block;
}
#navigation , .subnav
{
    list-style-type: none;
}
#header {
    height: 46px;
    background-color: #000;
}
#navigation > li
{
    display: inline-block;
}
#navigation li{
    position: relative;
}
.subnav li:hover a,
#navigation > li:hover > a
{
    color: #000;
    background-color: #ccc;
}
#navigation > li > a
{
    color: #fff;
    text-transform: uppercase;
}
#navigation li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0  24px ;
     display: inline-block;
}
#navigation .subnav{
     display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    min-width: 160px;
    top: 100%;
    left: 0;
}
#navigation .subnav a
{
    color: #000;
    width: 100%;
    padding: 0 12px;
    line-height: 38px;
}
#navigation i
{
    font-size: 14px;
}
#header .search-button
{
    float: right;
}
#header .search-button:hover
{
    cursor: pointer;
    background-color: #f44336;
}
#header .search-icon
{
    color:#fff;
    font-size: 16px;
    line-height: 46px;
    padding: 21px;
    text-decoration: none;
}
#slider {
    max-width: 100%;
    margin-top: 46px;
    padding-top: 50%;
    position: relative;
    /* Viet theo cach de hieu */
    /* background-image: url('/w3_band/assets/img/slider1.jpg');
    position: top center;
    background-size: cover;
    /* Viet theo cach de hieu */
    /* viet theo cach short hand */
    background: url('../img/slider1.jpg') top center / cover no-repeat;

}
#slider .text-content
{
    position: absolute;
    color: #fff;
    bottom: 47px;
    /* cach can chinh thu 1 */
    /* left: 50%;
    transform: translateX(-50%); */
    /* Cach can chinh thu 2 */
    /* width: 100%; */
    /* Cach can chinh thu 3 */
    right: 0;
    left: 0;
    text-align: center;
}
#slider .text-headding
{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-discrible
{
    margin-top: 25px;
    font-size: 15px;
    text-shadow: 0 0 2px #333;
}

#content {
}
#content .content-section
{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading
{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}
#content .sub-section-heading
{
    font-size: 15px;
    text-align: center;
    margin: 25px 0;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text
{
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
    margin-left: 8px;
    margin-right: 16px;
}
#content .team-list
{
    margin-top: 32px;
    /* giup cho box co thể fix thuộc tính mất thẻ div khi sử dụng float. */
     /* overflow: scroll;  */
}
#content .member-name
{
    font-size: 15px;
}
#content .member-avt
{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* Tour-section */
.tour-section
{
    background-color: #000;
    padding-bottom: 100px;
}
.book-ticket
{
    background-color: #fff;
    margin-top: 15px;
}
.book-ticket li{
    font-size: 15px;
    padding : 11px 16px;
    border-bottom : 1px solid #ddd;
    color: #757575;
    list-style: none;
}
.book-ticket .sold-out
{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 18px;
}
.book-ticket .quantity
{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}
.ticket-list
{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}
.ticket-list .place
{
    width: 100%;
    display: block;
}
.ticket-list .place:hover{
    opacity: 0.6;
}

.place-content
{
    width: 100%;
    background-color: #fff;
}
.place-content
{
    padding: 25px;
}
.name-place
{
    font-size: 15px;
    margin-bottom: 8px;
}
.date
{
    font-size: 15px;
    margin-bottom: 8px;
    opacity: 0.6;
}
.desc
{
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.modal
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% -32px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease 0.5s;
}
header.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}
.modal-close:hover{
    background-color:#ccc;
    color: #000;
}
header.modal-header >i
{
    margin: 16px;
}
.modal-body {
    padding: 16px;
}
.modal-body .modal-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.modal-label
{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
button.modal-button
{
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    background: #009688;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.button-close:hover,
button.modal-button:hover
{
    background-color: #ccc;
    color: #000;
    opacity: 0.8;
    cursor: pointer;
}

footer.modal-footer {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.button-close {
    background: #f05123;
    padding: 10px 21px;
    font-size: 15px;
    text-align: center;
    margin-left: 16px;
    color: #fff;
}
p.modal-help {
    position: absolute;
    right: 0;
    padding: 15px;
}

i.ti-close {
    font-size: 12px;
}
.modal-help a
{ 
    color: blue;
}
.contact-content
{
    margin-top : 48px;
    /* overflow: hidden; */
}
.contact-info
{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]
{
    width: 30px;
    display: inline-block;
}
.contact-info a
{
    color: #1500ef;
    opacity: 0.8;
}
.contact-info a:hover
{
    opacity: 1;
}
.contact-form
{
    font-size: 15px;
}
.contact-form .form-control
{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.contact-form .form-submit-btn
{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 11px 21px;
    float: right;
    text-transform: uppercase;
}
.contact-form .form-submit-btn:hover
{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
/* css Map */
.map-section img
{
    width: 100%;
}
#Footer {
    --color: rgba(0,0,0,0.7);
    margin: 64px 16px;
    text-align: center;
}
#Footer .social-list i
{
    font-size: 24px;
    color: var(--color);
}
#Footer .social-list i:hover
{
    opacity: 0.4;
    cursor: pointer;
}
#Footer .social p
{
    margin: 15px 0;
    font-size: 15px;
    color:var(--color);
}
.social p a
{
    font-size: 15px;
    color:var(--color);
}
/* giup tao 1 keyframes de can chinh xem do tu truc X qua hay Truc Y xuong */
@keyframes modalFadein
{
    from{
        /* keyword di kem voi from va to */
        opacity: 0;
        transform: translateY(-100px); 
    }

    to{
        opacity: 1;
        /* keyword di kem voi from va to */
        transform: translateY(0px);
    }
}
div#mb-menu {
    display: none;
}